/* Styles for App Component */
.app-container {
  margin-top: 60px; /* Adjusts for the fixed TitleBar height */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  gap: 20px;
}

.upload-section, .preview-section {
  width: 50%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.placeholder {
  color: #777;
  font-size: 1rem;
  text-align: center;
}
